:root {
    --cell-border-size: 1px;
}
body {
    background-image: url(../../images/backgrounds/monkey-background.png);
    height: 100vh;
    cursor: url('../../images/cursors/banana-covered-cursor.png') 4 1, default;
}
#container {
    width: fit-content;
    background-color: gray;
    padding: 20px;
    margin: auto;
    cursor: url('../../images/cursors/banana-peeled-cursor.png') 4 1, default;
}
#info-container {
    display: flex;
    flex-direction: row;
    font: var(--info-font-size) 'Nunito';
    font-weight: 400;
    color: white;
    margin-top: 5px;
}
#board {
    --border-size: 5px;
    border-top: var(--border-size) solid rgb(153, 153, 153);
    border-left: var(--border-size) solid rgb(153, 153, 153);
    border-right: var(--border-size) solid white;
    border-bottom: var(--border-size) solid white;
}
.square {
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    width: var(--cell-size);
    height: var(--cell-size);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    line-height: 50pt;
    font: var(--board-font-size) 'Nunito';
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: contain;
}
.square.revealed {
    --border-color: rgb(153, 153, 153);
    border-top: var(--cell-border-size) solid var(--border-color);
    border-left: var(--cell-border-size) solid var(--border-color);
}
.square.unknown, .square.flagged {
    --border-color: white;
    border-top: var(--cell-border-size) solid var(--border-color);
    border-left: var(--cell-border-size) solid var(--border-color);
}