:root {
    --cell-size: 33px;
    --board-font-size: 25px;
    --info-font-size: 30px;
    --color1: rgb(0, 0, 255);
    --color2: rgb(0, 128, 0);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 0, 128);
    --color5: rgb(128, 0, 0);
    --color6: rgb(0, 128, 128);
    --color7: rgb(0, 0, 0);
    --color8: rgb(128, 128, 128);
}
.flexbox-left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.flexbox-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
#info-container .flexbox-left div {
    margin: 0 25px 0 2px;
}
#info-container .flexbox-right div {
    margin: 0 2px 0 25px;
}
#board {
    display: grid;
    grid-gap: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}