:root {
    --cell-font: 'Oxanium';
    --info-font: 'Fira Code';
    --cell-size: 30px;
    --cell-border-size: 1px;
    --cell-font-size: 23px;
    --board-background-color: rgb(218, 218, 218);
    --board-border-size: 5px;
    --info-font-size: 23px;
    --color1: rgb(0, 0, 255);
    --color2: rgb(0, 128, 0);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 0, 128);
    --color5: rgb(128, 0, 0);
    --color6: rgb(0, 128, 128);
    --color7: rgb(0, 0, 0);
    --color8: rgb(128, 128, 128);
}
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    background-image: url(../images/backgrounds/classic-light.png);
}
#container {
    width: fit-content;
    background-color: rgba(80, 80, 80, 0.95);
    padding: 25px;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 10px;
}
#board {
    background-color: var(--board-background-color);
    display: grid;
    grid-gap: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border-top: var(--board-border-size) solid rgb(153, 153, 153);
    border-left: var(--board-border-size) solid rgb(153, 153, 153);
    border-right: var(--board-border-size) solid white;
    border-bottom: var(--board-border-size) solid white;
}
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: var(--cell-size);
    height: var(--cell-size);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--cell-font-size);
    font-family: var(--cell-font);
    font-weight: 600;
}
.square.revealed {
    --border-color: rgb(153, 153, 153);
    border-top: var(--cell-border-size) solid var(--border-color);
    border-left: var(--cell-border-size) solid var(--border-color);
}
.square.unknown, .square.flagged {
    --border-color: white;
    border-top: var(--cell-border-size) solid var(--border-color);
    border-left: var(--cell-border-size) solid var(--border-color);
}
#info-container {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 7px;
    font-size: var(--info-font-size);
    font-family: var(--info-font);
    font-weight: 400;
    color: white;
}
#info-container #timer {
    width: 150px;
}
.flexbox-left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    gap: 25px;
}
.flexbox-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
}



#theme-selection {
    --border-radius: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#theme-selection .button-background {
    background-size: contain;
    margin: 0;
    padding: 0;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border: 3px solid rgb(30, 30, 30);
    border-radius: var(--border-radius);
    filter: saturate(0.7);
}
#theme-selection .button-background.active-theme {
    filter: saturate(1);
}
#theme-selection button {
    all: unset;
}
#theme-selection .button-overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: var(--border-radius);
}
#theme-selection .button-overlay:hover {
    background-color: white;
    opacity: 0;
}
#theme-selection .button-overlay:active {
    background-color: black;
    opacity: 0.1;
}