.theme-funkymonky {
    /* variables here */
}
.theme-funkymonky body {
    background-image: url(../images/backgrounds/monkey-swarm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('../images/cursors/banana-covered-cursor.png') 4 1, default;
}
.theme-funkymonky #container {
    cursor: url('../images/cursors/banana-peeled-cursor.png') 4 1, default;
    background-color: rgba(79, 79, 79, 0.95);
}
.theme-funkymonky #info-container {
    font-family: 'Rowdies';
    font-weight: 400;
    color: white;
}
.theme-funkymonky .square {
    font-family: 'Rowdies';
    font-weight: 400;
}
.theme-funkymonky .square.revealed, .theme-funkymonky .square.unknown, .theme-funkymonky .square.flagged {
    border: 0;
    /* --border-color: rgb(153, 153, 153);
    border-top: var(--cell-border-size) solid var(--border-color);
    border-left: var(--cell-border-size) solid var(--border-color); */
}